.hero {
  background-color: black;
  color: white;
}

.navItem {
  color: white;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
